body{

background:#0f172a;

font-family:Segoe UI;

}

.card{

margin-top:80px;

border:none;

border-radius:15px;

}

.card-header{

background:#2563eb;

color:white;

padding:25px;

}

.btn{

height:45px;

font-size:18px;

}